* {
    padding: 0;
    margin: 0;

}

/* card styles */
.swiper-slide img {
    width: 20rem;
    height: 25rem;
}


.swiper-wrapper .mycard {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

}



/* media queries */

@media screen and (max-width:640px) {
    .swiper-button {
        display: none;
    }
}