* {}

/* carousel  styles */

.carousel-item img {
    min-height: 300px;
    max-height: 400px;
}

.containerscroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.containerscroll::-webkit-scrollbar {
    display: none;
}


/* card styles */

.card {
    width: 300px;
}

.d-flex {}