* {
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mpichu.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.tittle {
    color: rgb(243, 9, 9);
    font-size: 4rem;
    font-weight: 800;
}

.subtittle {
    color: rgb(243, 9, 9);
    font-size: 2rem;
    font-weight: 800;
}

.list {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}